.homePage{
  width: 100%;
  height: calc(100vh - 80px);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.homePage .postContents{
  width: 600px;
  height: auto;
  max-height: 600px;
  background-color: white;
  box-shadow: 5px 9px 15px -5px #777777;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

.postHeader div {
  text-align: center;
  margin-top: 5px;
  font-size: x-large;
  font-weight: bold;
}

.categoryKakeibo {
  text-align: center;
  font-size: large;
  font-weight: bold;
  margin: 5px;
  padding: 5px;
}

.dateKakeibo {
  text-align: right;
  margin: 5px;
  padding: 5px;
}

.postContents .postTextContainer {
  height: auto;
  word-wrap: break-word;
  max-height: 400px;
  width: 100%;
  margin: 5px;
  padding: 5px;
}

.nameAndDeleteButton {
  display: flex;
  align-items: center;
}

.nameAndDeleteButton button {
  flex: 10%;
  background-color: #d36262;
  color: white;
  padding: 7px 15px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
.nameAndDeleteButton button:hover{
  background-color: #a43c3c;
}

.nameAndDeleteButton div{
  flex: 90%;
}